In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from ephem_utils import ephem_utils
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [2]:
visit_df = pd.read_csv('/epyc/users/smotherh/DECAM_Data_Reduction/loriallen_times.dat', delimiter=' ',
                       skiprows=1, names=['visit_num', 'visit_mjd'])

In [3]:
results_file = '/epyc/users/smotherh/DECAM_Data_Reduction/kbmod_results/300/22/results_full_lc.txt'

image_file = str('/epyc/users/smotherh/DECAM_Data_Reduction/pointing_groups_hyak/'+
                 'Pointing_Group_300/processed_data/rerun/rerun_processed_data/0433932/'+
                 'calexp/calexp-0433932_22.fits')

ep = ephem_utils(results_file, image_file, visit_df['visit_num'].values, visit_df['visit_mjd'].values, [433932, 433936, 433940, 433945, 433949,
                                                                                                        434610, 434614, 434622, 434626, 435498,
                                                                                                        435502, 435506, 435510])

In [4]:
ep.results_df.head()

          lh         flux     x0      y0         x_v         y_v  obs_count
0  51.338379  1167.514038   89.0  4021.0  -58.496994 -207.676514       10.0
1  52.504288  1115.429565  129.0  2667.0  -96.969185 -188.935974       10.0
2  49.810539  1063.618896   76.0  2698.0  -43.673504 -219.940170       10.0
3  49.793983  1077.010132  181.0  2743.0 -148.411545 -265.212677       10.0
4  57.040955  1245.665527   63.0  2597.0  -30.895140 -118.556183       10.0

In [5]:
ep.get_searched_radec(0)

In [ ]:
ep.format_results_mpc()

In [ ]:
ep.coords, ep.mjd_0

In [ ]:
ep.mjd_0

In [ ]:
date_range = np.arange(ep.mjd_0-50., ep.mjd_0+50., 0.5)
pred_ra, pred_dec = ep.predict_ephemeris(date_range)

In [ ]:
fig = ep.plot_predictions(date_range)

In [ ]:
ep.predict_pixels(image_file, np.arange(ep.mjd_0, ep.mjd_0+2, 0.2))

In [ ]:
el, err, o = ep.predict_elements()

In [ ]:
el, err